<div class="container">
  <div class="row">
    <div class = "mat-card">
      <mat-card class="card">
        <mat-card-content>
          
        
        <mat-card-actions>
          <a class="nav-link" href="pickup">pickup</a>
        </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
    <div class = "mat-card">
      <mat-card class="card">
        <mat-card-content>
           
        
        <mat-card-actions>
          <a class="nav-link" href="#">delivery</a>
          
        </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>