<div class="header.main">
    
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active">SCHEDULE MANAGER</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
     <li class="nav-item">
       <a class="nav-link active" href="#">HOME</a>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="true">EVENTS</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">ALL EVENTS</a>
          <a class="dropdown-item" href="#">SCHEDULE EVENT</a>
        </div>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">REGISTER</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">REGISTER NOW</a>
          <a class="dropdown-item" href="#">SCHEDULE </a>
        </div>
     </li>
     <li class="nav-item">
       <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
     </li>
  </ul> 
</div>      
 
